
body{
 background-image: url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
}
h1{
    font-family: 'Merienda', cursive;
  padding-bottom: 120px;  
}
h2{
    font-family: 'Merienda', cursive;
}
#post{
    margin-left: 800px;
    padding-top: 60px;
}
#button{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 50px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 1000px;
 
 
}
.but{
    margin-left: 1700px;
}
